<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tweets | Twitter Clone</title>
</head>
<body>
    {% for tweet in tweets %}
    
    {{ tweet.msg }} <br> 
    at {{ int(point(tweet.location).x) }} {{ int(point(tweet.location).y) }} <br>
    posted {{ beautify_time(tweet.epoch_time, time()) }}

    <hr>
    <br>
    {% endfor %}
</body>
</html>